* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.generator__title {
  display: flex;
  padding: 0;
  margin: 0 auto;
  background-color: cadetblue;
}

.generator__title h1 {
  text-align: center;
}

.generator__content {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  border: 2px solid #eeeeee;
}

.generator__content-form {
  justify-content: center;
  padding: 20px;
  border-right: 3px solid #eee;
}

.generator__content-form form {
  justify-content: center;
  margin: 0 auto;
}

.generator__content-card {
  padding: 0;
}

.card__container {
  margin: 20px auto;
  padding: 12px 8px;
  background-color: aliceblue;
  border-radius: 8px;
}

.card {
  max-width: 80%;
  margin: 0 auto;
}

.card-body {
  text-align: left;
}

p.card-text {
  font-weight: 700;
}

.user-card {
  background: linear-gradient(#92bca6, #a2ccb6);
}

.user-photo {
  font-size: 7em;
}

button#resetCard {
  margin-top: 10px;
}

#cardName,
#cardCollege,
#cardLocation {
  font-weight: 500;
  font-size: 0.75em;
}

/* MEDIA QUERY THE BORDER */

@media screen and (max-width: 1199px) {
  .generator__content-form {
    border: none;
  }
}
